body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #87CEFA;
}

.container {
  border-radius: 25px;
    background: #AFEEEE;
    padding: 20px; 
    width: 220px;
    height: 300px; 
    

}
 
.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
}
